/*! This fix changes the day bubbles in the contribution graph to be round.
 * Updated: 08.02.2021 */

/* Make contribution graph bubbles round */
body.page-profile .js-yearly-contributions, .calendar-graph {
    --day-box-border-radius: 50%;
}
body.page-profile .js-calendar-graph rect.ContributionCalendar-day {
    outline: none;
    rx: var(--day-box-border-radius);
	ry: var(--day-box-border-radius);
}
